<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Cliente</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </head>    
    <body>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-2 col-sm-3 container justify-content-center card">
                    <h1 class="text-center">Ingreso de Cliente</h1>
                    <div class="card-body">
                        
                        <form th:action="@{/nuevo_cliente}" th:object="${estudiante}" method="POST">
                            <div class="form-group">
                                <label>Nit/DPI</label>
                                <input type="text" name="nit_dpi" th:field="*{nit_dpi}" class="form-control" placeholder="Digite su NIT/DPI">
                                <small class="form-text text-danger" th:if="${#fields.hasErrors('nit_dpi')}" th:errors="*{nit_dpi}"></small>
                            </div>
                            <div class="form-group">
                                <label>Nombre</label>
                                <input type="text" name="name" th:field="*{nombre}" class="form-control" placeholder="Digite su nombre">
                            </div>
                            <div class="form-group">
                                <label>direccion</label>
                                <input type="text" name="direccion" th:field="*{direccion}" class="form-control" placeholder="Digite el codigo">
                            </div>
                            <div class="form-group">
                                <label>correo</label>
                                <input type="text" name="email" th:field="*{email}" class="form-control" placeholder="Descripcion">
                            </div>
                            <div class="form-group">
                                <label>notas</label>
                                <input type="text" name="notas" th:field="*{notas}" class="form-control" placeholder="Escriba las notas">
                            </div>
                            <div class="form-group">
                                <label>fecha_ingreso: </label>
                                <input type="date" name="fecha_ingreso" th:field="*{fecha_ingreso}" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>estado:</label>
                                <input type="text" name="estado" th:field="*{estado}" class="form-control" placeholder="Activado">
                            </div>
                            <div class="box-footer">
                                <button class="btn btn-success">Guardar</button>
                                <a th:href="@{/}" class="btn btn-danger" onclick="return confirm('Estas seguro?');">Cancelar</a>
                                <a th:href="@{/estudiante}" class="btn btn-primary btn-sm mb3">Listado Clientes</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
